<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="racom.example.broadcasttest">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".customnormal.CustomNormalBroadcastActivity">

        </activity>
        <activity android:name=".order.CustomOrderBroadcastActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <receiver-->
<!--            android:name=".customnormal.NormalBroadcastReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--&lt;!&ndash;           经过测试我发现，自定义广播的时候这个intent-filter已经没有作用了，因此我们就不已这里设置的action为发送的点&ndash;&gt;-->
<!--            <intent-filter >-->
<!--                <action android:name="racom.example.broadcasttest.OREDR" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
<!--        <receiver-->
<!--            android:name=".order.OrderBroadcastReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter android:priority="1">-->
<!--                <action android:name="racom.example.broadcasttest.OREDR" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>

</manifest>